.images ol {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}
.images ol li{
    display: inline;
    height: 65px;
    width: 65px;
}
.images ol li img {
    cursor: pointer;
}
.images ol li img {
    height: inherit;
    width: inherit;
}
.carousel-control.right, .carousel-control.left {
    background-image: none !important;
}

.post-image {
    display: inline-block;

}

.post-image a {
    height: 60px;
    width: 60px;
    display: inline;
}

.post-image a img {
    height: inherit;
    width: inherit;
}

#posts span.price {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}