/* post images */
.images ol {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}
.images ol li{
    display: inline;
    height: 65px;
    width: 65px;
}
.images ol li img {
    cursor: pointer;
}
.images ol li img {
    height: inherit;
    width: inherit;
}
.carousel-control.right, .carousel-control.left {
    background-image: none !important;
}
/* post */
.post-image {
    display: inline-block;

}
.post-image a {
    height: 60px;
    width: 60px;
    display: inline;
}
.post-image a img {
    height: inherit;
    width: inherit;
}
#posts span.price {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li i {
    padding-right: 10px;
}
/* home page list categories */
.lists .category > a.title {
    font-size: 16px;
    font-weight: bold;
}
.lists .category > .categories {
    list-style: none;
    display: block;
    padding: 0;
}
.lists .category > .categories li {
    display: inline-block;
}
.lists .categories > li+li:before {
    content: '/';
    padding: 0 2px;
    color: #337ab7;
}
.lists .category {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
/* select category when creating new post */
ol.categories {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ol.categories li {
    display: inline;
}
ol.categories > li+li:before {
    content: '/';
    padding: 0 2px;
    color: #337ab7;
}